Apps/Collection/src/__pycache__/helper.cpython-310.pyc
Apps/Collection/src/__pycache__/sec_form_crawler.cpython-310.pyc
Apps/Collection/src/api/__pycache__/sec_api.cpython-310.pyc
Apps/Collection/src\resources\edgar-full-index-archives\master-2022-QTR1.txt
Settings/__pycache__/setup_logger.cpython-310.pyc
Apps/Collection/src/__pycache__/data_base_helper.cpython-310.pyc
Apps/Collection/src/__pycache__/data_base_helper.cpython-38.pyc
Apps/Collection/src/__pycache__/helper.cpython-310.pyc
Apps/Collection/src/__pycache__/helper.cpython-310.pyc~3a9c906cc8976c90e92c0dfe1d2ba7f6fcdbe505
Apps/Collection/src/__pycache__/sec_form_crawler.cpython-310.pyc
Apps/Collection/src/__pycache__/sec_form_crawler.cpython-310.pyc~3a9c906cc8976c90e92c0dfe1d2ba7f6>
Apps/Collection/src/api/__pycache__/sec_api.cpython-310.pyc
Apps/Collection/src/api/__pycache__/sec_api.cpython-310.pyc~3a9c906cc8976c90e92c0dfe1d2ba7f6fcdbe>
Apps/Collection/src/data_base_helper.py
Apps/Collection/src/resources/companies/KINGDON_CAPITAL_MANAGEMENT,_L.L.C./filings/13f-hr-filing/>
Apps/Collection/src/resources/companies/ROYAL_BANK_OF_CANADA/filings/13f-hr-filing/2022/1/13f-hr->
Apps/Collection/src\\resources\\edgar-full-index-archives\\master-2022-QTR1.txt"
Apps/Collection/src\\resources\\edgar-full-index-archives\\master-2022-QTR1.txt~3a9c906cc8976c90>
Settings/__pycache__/setup_logger.cpython-310.pyc
Settings/__pycache__/setup_logger.cpython-310.pyc~3a9c906cc8976c90e92c0dfe1d2ba7f6fcdbe505
Apps/Collection/src/resources/companies/*